#XL Deploy configuration file.
#Wed May 21 14:10:02 CEST 2014
admin.password=admin
jcr.repository.path=file\://{{ pillar['xldeploy-server']['repository-location'] }}
threads.min=3
ssl=false
client.session.remember.enabled=true
http.bind.address=0.0.0.0
http.context.root=/
threads.max=24
client.session.timeout.minutes=0
http.port=4516
hide.internals=false
importable.packages.path=importablePackages
