<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] {{'{%'}}mdc} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>log/deployit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/deployit.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] {{'{%'}}mdc} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="stash">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <file>log/logstash.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/logstash.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="stash"/>
    </root>
    <logger level="info" name="com.xebialabs"/>
    <logger level="info" name="com.xebialabs.deployit.core.api.resteasy.http"/>
    <logger level="info" name="com.xebialabs.deployit.jetty.HttpHeaderOverrideServletRequest"/>
    <logger level="info" name="com.xebialabs.deployit.jetty.FlexRestCompatibilityServletRequest"/>
    <logger level="info" name="com.xebialabs.overthere"/>
    <logger level="error" name="net.schmizz.sshj"/>
    <logger level="warn" name="org.springframework"/>
    <logger level="warn" name="org.apache.jackrabbit"/>
    
    <!--  Audit logging -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="AUDIT">
        <file>log/audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/audit.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>
    <logger additivity="false" level="info" name="audit">
        <appender-ref ref="AUDIT"/>
    </logger>

    <!--  LDAP authentication logging -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SEC_FILE">
        <file>log/ldapsecurity.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/ldapsecurity.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] {{'{%'}}mdc} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger level="trace" name="com.xebialabs.deployit.security">
        <appender-ref ref="SEC_FILE"/>
    </logger>
    <logger level="debug" name="org.springframework.security">
        <appender-ref ref="SEC_FILE"/>
    </logger>
    <logger level="debug" name="org.springframework.ldap">
        <appender-ref ref="SEC_FILE"/>
    </logger>
    <!--
    Uncomment the configuration below to have Deployit log generated scripts to log/scripts.log:
-->
    <!--
    <appender name="SCRIPTS" class="ch.qos.logback.core.rolling.RollingFileAppender"><file>log/scripts.log</file><rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"><fileNamePattern>log/scripts.%i.log</fileNamePattern><minIndex>1</minIndex><maxIndex>5</maxIndex></rollingPolicy><triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"><maxFileSize>5MB</maxFileSize></triggeringPolicy><encoder><pattern>%msg%n</pattern></encoder></appender><logger name="com.xebialabs.deployit.plugin.generic.scripts" level="trace" additivity="false"><appender-ref ref="SCRIPTS" /></logger><logger name="com.xebialabs.deployit.plugin.python.scripts" level="trace" additivity="false"><appender-ref ref="SCRIPTS" /></logger><logger name="com.xebialabs.deployit.plugin.powershell.scripts" level="trace" additivity="false"><appender-ref ref="SCRIPTS" /></logger>-->
</configuration>