description     "Elasticsearch daemon"
author          "Erwin Embsen"

start on started network
stop on stopping network
stop on starting shutdown

console output

exec su -s /bin/sh -c /opt/elasticsearch/{{ dirname }}/bin/elasticsearch elasticsearch | logger -t elasticsearch
respawn
