start on runlevel [2345]
stop on runlevel [06]

script
  su xldeploy -s /bin/sh -c 'sh {{ pillar['xldeploy-server']['base-location'] }}/xl-deploy-server/bin/server.sh' | logger -t xldeploy
end script

post-stop script
  kill `pidof java`
end script
